<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Contador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Contador</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-padding">Iniciar sesión</h1>

  <ion-list>
    <ion-item>
      <ion-input type="email" label="Email" id="email" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Contraseña" id="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="ion-padding" (click)="LoginAction()">Aceptar</ion-button>

</ion-content>
